html, body{
  margin: 0;
  height: 100%;
}

.header {
  background: black;
  overflow: hidden;
}


/* unordered list box (area that surrounds navbar links) */
 ul {
  list-style-type: none;
  float: right;
  list-style-position: inside;
}

/* list - navbar links*/
li {
  color: white;
  float: left;
  padding-right: 10px; /* controls space between links*/
}

.header a {
  color: white;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}


/* The fireworks image */
.fireworks-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/banner/fireworks-web-banner.jpg");

  /* Set a specific height */
  height: 222px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 10px;

}

/* Place text in the middle of the image */
.goodbye-text {
  text-align: center;
  font-size: 49px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* properties for page (line) seperator line under fireworks image */
hr {
  display: block;
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.moments-container{
  height: 270px;
}

.moments-text-container{
  text-align: center;
}

.concertsImage{
  background-image: url("images/moment-images/Concerts.png");
  height: 150px;
  width: 150px;
  margin: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;


}
