html, body{
  margin: 0;
  height: 100%;
}

.header {
  background: black;
  overflow: hidden;
}


/* unordered list box (area that surrounds navbar links) */
 ul {
  list-style-type: none;
  float: right;
  list-style-position: inside;
}

/* list - navbar links*/
li {
  color: white;
  float: left;
  padding-right: 10px; /* controls space between links*/
}

.header a {
  color: white;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}


/* The fireworks image */
.fireworks-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/banner/fireworks-web-banner.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: ;
}

/* Place text in the middle of the image */
.goodbye-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
